{% extends "main.html" %}
{% load static %}
{% block main_content %}

{% endblock main_content %}

{% block about_content %}

<div class="row pt-5 pb-5" style="height: 400px">
      <div class="col-md-4">
      </div>
    <div class="col-md-4 text-center">
        <img class="rounded-circle up-to" src="{% static "blog/profile4.svg" %}">
        <h4 class="font-weight-bold pt-4 pb-4">Hi.</h4>
        I'm Paweł. Young, motivated avionics student interested in software development. I have a passion for design applications,
        work with embedded software and love to create for web and mobile devices. I also like to keep things nice & simple.
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row pt-5 pb-5" style="height: 150px">
      <div class="col-md-4">
      </div>
    <div class="col-md-4 text-center">
        <h1 class="font-weight-normal pt-4">What I can do.</h1>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row pt-5 pb-5" style="height: 400px">
      <div class="col-md-3">
      </div>
    <div class="col-md-3" style="top: 20%;">
        <h4 class="font-weight-lighter pt-4 pb-3 text-center">Working with the software</h4>
        I try to master processes of design, development, testing, analyzing
        and enhancing efficiency of the system software.
        I feel right with C/C++, Qt, Python &ndash; engineering embedded & real time products.
    </div>
    <div class="col-md-3">
        <img class="coding" src="{% static "blog/coding.png" %}">
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row pt-5 pb-5" style="height: 450px">
      <div class="col-md-3">
      </div>
    <div class="col-md-3 text-center">
        <img class="coding" src="{% static "blog/app.png" %}">
    </div>
    <div class="col-md-3" style="top: 15%;">
        <h4 class="font-weight-lighter pt-1 pb-3 text-center">My vision</h4>
        <p class="pl-5">
            I'm interested in Internet of Things solutions, working around avionics projects
            and being able to solve real-life problems by coding.
            My goals are to focus on quality,
            looks and conveying the message that I want to send.
        </p>
    </div>
    <div class="col-md-3">
    </div>
</div>

<div class="row w-auto pt-5 pb-5 mb-4" style="height: 175px">
      <div class="col-md-4">
      </div>
    <div class="col-md-4 text-center">
        <h5 class="font-weight-bold">Want to hire me?</h5>
        If you have a project that you want to get started, think you need my help with something
        or just fancy saying hey, then
        <a style="color:#777B99" href="linkedin.com/in/realpborowski/">get in touch.</a>
    </div>
    <div class="col-md-4">
    </div>
</div>

{% endblock about_content %}
