{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Required Bootstrap meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type= 'text/css' href="{% static 'blog/main.css' %}">

      {% if title %}
        <title>Pawel Borowski Demo Website  - {{ title }}</title>
      {% else %}
        <title>Pawel Borowski Demo Website</title>
      {% endif %}
  </head>

  <body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel " >
        <div class="container">
          <a class="nav-item nav-link" href="{% url "home" %}"><img class="rounded-circle my-logo" src="{% static "blog/profile2.svg" %}"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse font-change" id="navbarToggle">
            <div class="navbar-nav mr-auto " style="font-size:1.16rem">
              <a class="nav-item nav-link ml-4 " href="{% url "home" %}" {% if '/work' in request.path %} {% elif '/blog' in request.path %} {% else %}style="color:#a2aaaf" {% endif %}>About</a>
              <a class="nav-item nav-link ml-4" href="{% url "work" %}" {% if '/work' in request.path %} style="color:#8e9599" {% endif %}>Work</a>
              <a class="nav-item nav-link ml-4" href="{% url "blog-home" %}" {% if '/blog' in request.path %} style="color:#8e9599" {% endif %}>Blog</a>
            </div>
            {% if '/blog' in request.path %}
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="{% url "post-create" %}"><img class="rounded account-img2" src="{% static "blog/new_post.png" %}"></a>
                <a class="nav-item nav-link" href="{% url "profile" %}"><img class="rounded account-img2" src=" {{ user.profile.image.url }}">Profile</a>
                <a class="nav-item nav-link" href="{% url "logout" %}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{% url "login" %}">Login</a>
                <a class="nav-item nav-link" href="{% url "register" %}">Register</a>
              {% endif %}
            </div>
            {% endif %}
          </div>
        </div>
      </nav>
    </header>

    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12 mt-5"> <!-- main view width -->

              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}

              {% block content %}
              {% endblock %}
        </div>
      </div>    <!-- Row div cointainer end -->
      {% block main_content %}
      {% endblock %}

    </main>

    {% block about_content %}
    {% endblock %}
    {% block work_content %}
    {% endblock %}

    <footer class="page-footer small "> <!-- Footer -->
        <div class="text-center py-5 text-info font-weight-lighter" style="background-color:#ECE9DD; height: 125px; max-width: 100%;">
            <p>©{%now "Y" %} <a style="color:#777B99" href="http://pborowskisite.herokuapp.com/">Paweł Borowski</a>. All rights reserved.</p>
        </div>
    </footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  </body>
</html>
