{% extends "main.html" %}
{% block content %}


<div class="row pt-5 pb-5" style="height: 350px">
      <div class="col-md-4">
      </div>
    <div class="col-md-4 text-center">
        <img class="rounded-circle up-to" src="/media/profile.SVG">
        <h5 class="font-weight-bold pt-4">What I've been up to.</h5>
        Here's a selection of some recent work. For more up to the minute work you can visit me on dribbble or twitter.
    </div>
    <div class="col-md-4">
    </div>
</div>


{% endblock content %}
